<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=width-device, inital-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>ISS Tracker</title>
  </head>


  <body>

    <!-- this is js including the partial header. keeps the header seperate so we use it without duplicating betweeen files-->
    <!-- stay dry my firends -->
    <%- include partials/_header.ejs %>

    <main style="margin: 1em;">


      <div class="card text-center">
        <div class="card-header">Calculate Upcoming ISS Flyovers</div>
        <div class="card-body">
          <h4 class="card-title">Calculate Upcoming ISS Flyovers</h4>
          <h5 class="card-text">This web app will use your ip address to determine your geolocation and then use those coordiantes to predict the next five flyovers of the ISS! Try and find a time during sunset for the best change of spotting the station.</h5>
        </div>
      
        <div class="card text-center">
          <form class="form-inline" action="/flyovers" method="GET">
            <fieldset style="margin: 0px auto">
              <div class="form-group mb-4">
                <button type="submit" class="btn btn-primary">Calculate Flyovers!</button>
              </div>
            </fieldset>
          </form>
        </div>
    </main>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  </body>

</html>